<!doctype html>
<html>
    <head>
        <title>Troubadour</title>
        <link rel="stylesheet" href="node_modules/bulma/css/bulma.min.css">
         <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" /> <!-- -->
        <style>
            body {
                user-select: none;
            }
        </style>
        <script src="node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
    </head>
    <body onbeforeunload="dbfuncs.save()">
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <aside class="menu" id="menu">
                            <span v-if="state.UIState != UIStates.PLAYLISTS">
                                <a class="icon" onclick="goBack()"><i class="fas fa-arrow-left"></i><h2 style="padding-left: 0.5em;">Back</h2></a><br><br>
                            </span>
                            <span v-if="state.UIState == UIStates.PLAYLISTS">
                                <p class="menu-label">Series</p>
                                <ul class="menu-list">
                                    <li><a onclick="gotoLastListen()">Last listen</a></li>
                                    <li><a onclick="addNewSeries()">Add a new series</a></li>
                                    <li><a onclick="ApplicationState.isEditing = !ApplicationState.isEditing">Edit series list</a></li>
                                </ul>
                            </span>
                            <span v-if="state.UIState == UIStates.EPISODES">
                                <p class="menu-label">Episodes</p>
                                <ul class="menu-list">
                                    <li><a onclick="ApplicationState.isEditing = !ApplicationState.isEditing">Edit episode list</a></li>
                                    <li><a onclick="addNewEpisode()">Add a new episode</a></li>
                                    <li><a onclick="resetSeriesProgression()">Reset progression</a></li>
                                    <li><a onclick="importFromPlaylistFile()">Import playlist from file</a></li>
                                    <li><a onclick="exportToPlaylistFile()">Export playlist to file</a></li>
                                </ul>
                            </span>
                            <p class="menu-label">General (Not working ATM)</p>
                            <ul class="menu-list">
                                <li><a onclick="ApplicationState.SettingsOn = !ApplicationState.SettingsOn">Settings</a></li>
                                <li><a>About</a></li>
                            </ul>
                            <p class="menu-label">Beta</p>
                            <ul class="menu-list">
                                <li><a onclick="dbfuncs.save()">Save database</a></li>
                                <li><a onclick="dbfuncs.load()">Load database</a></li>
                                <li><a onclick="document.location.reload()">Reload</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                        <h1 class="title is-big" id="app">Troubadour <span class="tag is-info">Beta</span></h1>
                        <div id="settings" v-if="state.SettingsOn">
                            <h2 class="subtitle">Settings</h2>
                            <form class="form">
                                <label for="auto-play">Auto-play: </label>
                                <input type="checkbox" id="auto-play" v-model="state.shouldAutoPlay">
                            </form>
                            <br>
                        </div>
                        <div id="playlistList" v-if="state.UIState == UIStates.PLAYLISTS">
                            <h2 class="subtitle">Series</h2>
                            <table class="table is-hoverable is-striped is-fullwidth">
                                <tr class="thead">
                                    <span>
                                        <td>Name</td>
                                        <td>Episodes</td>
                                    </span>
                                </tr>
                                <tr v-for="(playlist, index) in state.playlists">
                                    <td v-on:click="onPlaylistClick($event, index)">
                                        {{playlist.name}}
                                    </td>
                                    <td>
                                        {{playlist.audioFiles.length}}
                                        
                                        <span style="text-align: right" class="icon has-text-success" v-if="isPlaylistCompleted(index)">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </td>
                                    <td v-if="state.isEditing">
                                        <a class="delete" v-on:click="deletePlaylist($event, index)"></a>
                                        <a class="icon" v-on:click="editPlaylistName($event, index)"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="episodeList" v-if="state.UIState == UIStates.EPISODES">
                            <h2 class="subtitle">Episodes - {{state.playlists[state.currentPlaylistId].name}}</h2>
                            <table class="table is-hoverable is-striped is-fullwidth">
                                <tr v-for="(episode, index) in state.episodes">
                                    <td v-on:click="onPlaylistClick($event, index)">
                                        {{state.episodes[index].name}}
                                    </td>
                                    <td>
                                        {{TimeUtils.getMinutes(episode.seconds)}}:{{TimeUtils.getSeconds(episode.seconds)}}
                                    </td>
                                    <td>
                                        <span class="icon has-text-success" v-if="state.episodes[index].isCompleted">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="icon has-text-info" v-if="!state.episodes[index].isCompleted">
                                            <i class="fas fa-dragon"></i>
                                        </span>
                                    </td>
                                    <td v-if="state.isEditing">
                                        <a class="delete" v-on:click="deleteEpisode($event, index)"></a>
                                        <a class="icon" v-on:click="editEpisodeName($event, index)"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="listen" v-if="state.UIState == UIStates.LISTENTOEPISODE && state.currentEpisode != null">
                            <h2 class="subtitle">
                                Playing: {{state.playlists[state.currentPlaylistId].name}} - {{state.currentEpisode.name}}
                            </h2>
                            <audio controls v-bind:src="state.currentEpisode.path"></audio>
                        </div>
                        <div id="about" v-if="state.UIState == UIStates.ABOUT">
                            <h2 class="subtitle">About</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="scripts/timeutils.js"></script>
        <script src="node_modules/vue/dist/vue.min.js"></script>

        <script src="index.js"></script>
        <!--<script src="node_modules/nw-dev/lib/dev.js"></script>-->
        <script>

        </script>
    </body>
</html>